<style>
  body {
    background-color: #f2ac4b;
    color: white;
    font-weight: bold;
  }
  .delburger {
    background-color: #e8553e;
    color: white;
  }
  .saveburger {
    background-color: #2f9624;
    color: white;
  }
  #brown {
    color: brown;
  }
  #false {
    color: yellow;
    font-weight: bold;
  }
  h2 {
    color: yellow;
    font-weight: bold;
  }
</style>

<div class="main-container">

  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Eat Da Burger</h2>
    </div><!--col-->
  </div><!--row-->

  <div class="row">
    <div class="col-xs-12 text-center">
      <img src="assets/images/burger.png" alt="Burger" height="100px">
    </div><!--col-->
  </div><!--row-->

  <div class="row">
    <div class="col-xs-12 text-center">
      <h4>Add a New Burger</h4>
    </div><!--col-->
  </div><!--row-->

  <div class="row">
    <div class="col-xs-12 text-center">
      <form id="createburger" class="button-size">
      <p><textarea rows="1" cols="50" id="brown" type="text" name="burger"></textarea></p>
      <p><button class="saveburger" type="submit">Save burger!</button></p>
      </form>
    </div><!--col-->
  </div><!--row-->
  <br>

  <div class="row">
    <div class="col-xs-1"></div><!--col-->
    <div id="false" class="col-xs-5">
      <ul>
        {{#each burgers}}
          {{#if this.devoured}}
          {{else}}
        <li>
          <p>
            {{this.burger_name}}
            <button data-burgerid="{{this.id}}" class="delburger">We ates the precious!</button>
          </p>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div><!--col-->

    <div id="true" class="col-xs-5">
      <ul>
        {{#each burgers}}
          {{#if this.devoured}}
            <li>
              <p>
                {{this.burger_name}}
              </p>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div><!--col-->
    <div class="col-xs-1"></div><!--col-->
  </div><!--row-->
<!--
  <button id="clearburger" class="button" type="submit">Clear all</button> -->

</div><!--main-comtainer-->

<!-- <script type="text/javascript">

function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
      console.log("textt", ev.target);

      var updatedBurger = [
        burger_name, {{this.burger_name}}];
        console.log(updatedBurger);


      var id = $(this).data("id");
      $.ajax("/api/burgers/:id" + id, {
          type: "PUT",
          data: "updatedBurger"
        }).then(
          function() {
            console.log("updated burger");
            // Reload the page to get the updated list
            location.assign("/");
          });
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    console.log("text", data);
    ev.target.appendChild(document.getElementById(data));


}

</script> -->
